body{
    background-color: #666666;
		background-image: url("fondo.jpg");
		background-size:cover;
		background-repeat:repeat;
		color: #d8d8d8;
		//padding: 14em 0;
		text-align: center;
		position: relative;
}
.head1{
    background-color: black;
    text-align: justify;
}

#go{
    color: green;
}

#cancel{
    color: firebrick;
}