body{
    background-color: #666666;
		background-image: url("6840713-pattern-wallpaper.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: #d8d8d8;
		padding: 1em 0;
		text-align: center;
		position: relative;
}
.head1{
    background-color: black;
    text-align: justify;
}

#go{
    color: green;
}

#cancel{
    color: firebrick;
}