body{
    background-color: #666666;
		background-image: url("fondo.jpg");
		background-size:cover;
		background-repeat:repeat;
		color: #d8d8d8;
		//padding: 14em 0;
		text-align: center;
		position: relative;
}

.head2{
    background-color: black;
}

.head1{
    display: inline;
    direction: ltr;
    text-align:center;
    padding: 1em 0;
}
.formulario_registro{
	
	display: inline;
    direction: ltr;
    text-align:center;
    padding: 1em 0;
	
	}
#banner {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: #d8d8d8;
		padding: 10em 0;
		text-align: center;
		position: relative;
    	}

		#banner:before {
			content: '';
			position: relative;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(64, 72, 80, 0.25);

		}

		#banner .formulario_registro {
			position: relative;
			z-index: 1;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            margin-left: 500px;
            margin-right: 500px;
		}
        
        #banner .formulario_registro :last-child {
            margin-bottom: 0;
        }

        #banner p{
            color: white;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 25;
        }

#go{
color:green;
}

#cancel{
color:indianred;

}