<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="GENERO_ID">
	{$GENERO_ID_editcontrol}
	</control>
	<control field="NOMBRE">
	{$NOMBRE_editcontrol}
	</control>
	<control field="FEC_CREACION">
	{$FEC_CREACION_editcontrol}
	</control>
	<control field="USUARIO_CREACION">
	{$USUARIO_CREACION_editcontrol}
	</control>
	<control field="FEC_ULTIMA_MOD">
	{$FEC_ULTIMA_MOD_editcontrol}
	</control>
	<control field="USUARIO_ULTIMA_MOD">
	{$USUARIO_ULTIMA_MOD_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>