<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_recordcontrols}
<div class="rnr-c rnr-ch rnr-c-recordcontrols">

{BEGIN newrecord_controls_block}
<div  class="style1 rnr-bl rnr-b-recordcontrols_new {$brickclass_recordcontrols_new}">		{BEGIN add_link}
		<a href="GE_GENERO_add.php" class="rnr-button" {$addlink_attrs}>Añadir nuevo</a>
	{END add_link}

		{BEGIN inlineadd_link}
		<a href="#" class="rnr-button" {$inlineaddlink_attrs}>Añadir nuevo</a>
	{END inlineadd_link}


</div>
{END newrecord_controls_block}


{BEGIN record_controls_block}
<div  class="style1 rnr-bl rnr-b-recordcontrol {$brickclass_recordcontrol}">{BEGIN widhtSelected}
<span class="rnr-buttons-group">
<a class="rnr-button {$withSelectedClass}" href="#" id="selectButtonsToggler{$id}">Con los seleccionados...</a>
<ul class="rnr-list" id="selectButtonsGroup{$id}">

		{BEGIN editselected_link}
<li>
		<a href="#" class="rnr-button link" {$editselectedlink_attrs} {$editselectedlink_span}>Editar</a>
</li>
	{END editselected_link}

		{BEGIN deleteselected_link}
<li>
		<a href="#" class="rnr-button link" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Borrar</a>
</li>
	{END deleteselected_link}

		{BEGIN exportselected_link}
<li>
		<a href="#" class="rnr-button link" {$exportselectedlink_attrs} {$exportselectedlink_span}>Exportar</a>
</li>
	{END exportselected_link}

		{BEGIN printselected_link}
<li>
		<a href="#" class="rnr-button link" {$printselectedlink_attrs} {$printselectedlink_span}>Imprimir</a>
</li>
	{END printselected_link}
</ul>
</span>
{END widhtSelected}
		{BEGIN saveall_link}
		<a href="#" class="rnr-button" {$savealllink_attrs} {$savealllink_span}>Guardar todo</a>
	{END saveall_link}
	{BEGIN cancelall_link}
		<a href="#" class="rnr-button" {$cancelalllink_attrs} {$cancelalllink_span}>Cancelar</a>
	{END cancelall_link}
</div>
{END record_controls_block}


{BEGIN more_list}
<div  class="style1 rnr-bl rnr-b-toplinks {$brickclass_toplinks}"><span class="rnr-buttons-group">
{BEGIN moreButtons}
<a class="rnr-button" id="extraButtonsToggler{$id}" href="#">Más...</a>
<ul class="rnr-list rnr-buttons-group" id="extraButtonsGroup{$id}">
{BEGIN print_link}
<li>
	<a target="_blank" href="GE_GENERO_print.php?{$crosstable_attrs}" class="rnr-button link" {$printlink_attrs}>Imprimir esta página</a>
</li>
{END print_link}
{BEGIN printall_link}
<li>
	<a target="_blank" href="GE_GENERO_print.php?all=1&amp;{$crosstable_attrs}" class="rnr-button link" {$printalllink_attrs}>Imprimir todas las páginas</a>
</li>
{END printall_link}

{BEGIN asearch_link}
<li>
	<a href="GE_GENERO_search.php" class="rnr-button link" {$advsearchlink_attrs}>Búsqueda avanzada</a>
</li>
{END asearch_link}

{BEGIN export_link}
<li>
	<a target="_blank" href="GE_GENERO_export.php" class="rnr-button link" {$exportlink_attrs}>Exportar resultados</a>
</li>
{END export_link}

{BEGIN import_link}
<li>
	<a href="GE_GENERO_import.php?{$crosstable_attrs}" class="rnr-button link" {$importlink_attrs}>Importar</a>
</li>
{END import_link}
</ul>
{END moreButtons}
</span></div>
{END more_list}

<div class="rnr-hfiller"></div>
</div>
{END container_recordcontrols}



{BEGIN container_message}
<div class="rnr-c rnr-ch rnr-c-message">

{BEGIN message_block}
<div  class="style1 rnr-bc rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>
{END message_block}


</div>
{END container_message}



{BEGIN container_pageinfo}
<div class="rnr-c rnr-ch rnr-c-pageinfo">

{BEGIN details_block}
<div  class="style1 rnr-bl rnr-b-details_found {$brickclass_details_found}">	<span {$details_attrs}>
			Detalles encontrados: <b><span class="rnr-details_found_count">{$records_found}</span></b>
	</span>
</div>
{END details_block}


{BEGIN pages_block}
<div  class="style1 rnr-bl rnr-b-page_of {$brickclass_page_of}">	<span {$pages_attrs}>
		Página <b>{$page}</b> / <b>{$maxpages}</b>
	</span>

</div>
{END pages_block}


{BEGIN recordspp_block}
<div  class="style1 rnr-bl rnr-b-recsperpage {$brickclass_recsperpage}">	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Resultados por página:&nbsp;{$recsPerPage}
	</span>	
</div>
{END recordspp_block}

<div class="rnr-hfiller"></div>
</div>
{END container_pageinfo}



{BEGIN container_grid}


{BEGIN grid_block}
						<table class="rnr-c rnr-cont rnr-c-grid rnr-b-grid rnr-gridtable  hoverable " cellpadding="0" >
						<thead>
															{BEGIN grid_header}
								<tr class="rnr-toprow style1 {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="rnr-bc">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																		{BEGIN GE_GENERO_dtable_column}
									<th >&nbsp;</th>
									{END GE_GENERO_dtable_column}
																										{BEGIN GENERO_ID_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$GENERO_ID_class}">
									{BEGIN GENERO_ID_fieldheader}
																				<span {$GENERO_ID_orderlinkattrs}>
											{$label GE_GENERO GENERO_ID}
										</span>
									{END GENERO_ID_fieldheader}
									</th>
									{END GENERO_ID_fieldheadercolumn}

																	{BEGIN NOMBRE_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$NOMBRE_class}">
									{BEGIN NOMBRE_fieldheader}
																				<span {$NOMBRE_orderlinkattrs}>
											{$label GE_GENERO NOMBRE}
										</span>
									{END NOMBRE_fieldheader}
									</th>
									{END NOMBRE_fieldheadercolumn}

																	{BEGIN FEC_CREACION_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$FEC_CREACION_class}">
									{BEGIN FEC_CREACION_fieldheader}
																				<span {$FEC_CREACION_orderlinkattrs}>
											{$label GE_GENERO FEC_CREACION}
										</span>
									{END FEC_CREACION_fieldheader}
									</th>
									{END FEC_CREACION_fieldheadercolumn}

																	{BEGIN USUARIO_CREACION_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$USUARIO_CREACION_class}">
									{BEGIN USUARIO_CREACION_fieldheader}
																				<span {$USUARIO_CREACION_orderlinkattrs}>
											{$label GE_GENERO USUARIO_CREACION}
										</span>
									{END USUARIO_CREACION_fieldheader}
									</th>
									{END USUARIO_CREACION_fieldheadercolumn}

																	{BEGIN FEC_ULTIMA_MOD_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$FEC_ULTIMA_MOD_class}">
									{BEGIN FEC_ULTIMA_MOD_fieldheader}
																				<span {$FEC_ULTIMA_MOD_orderlinkattrs}>
											{$label GE_GENERO FEC_ULTIMA_MOD}
										</span>
									{END FEC_ULTIMA_MOD_fieldheader}
									</th>
									{END FEC_ULTIMA_MOD_fieldheadercolumn}

																	{BEGIN USUARIO_ULTIMA_MOD_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$USUARIO_ULTIMA_MOD_class}">
									{BEGIN USUARIO_ULTIMA_MOD_fieldheader}
																				<span {$USUARIO_ULTIMA_MOD_orderlinkattrs}>
											{$label GE_GENERO USUARIO_ULTIMA_MOD}
										</span>
									{END USUARIO_ULTIMA_MOD_fieldheader}
									</th>
									{END USUARIO_ULTIMA_MOD_fieldheadercolumn}


									
									<th class="rnr-edge">&nbsp;</th>
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

						</thead>
						<tbody>	
															{BEGIN grid_row}
								<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
									{BEGIN grid_record}
									{BEGIN listIcons_column}
									<td class="rnr-cc rnr-bc rnr-icons" iEditCont="all" {$rowstyle} {$recordattrs}>
																		{BEGIN edit_column}
									{BEGIN edit_link}
																			<a class="rnr-button-img" {$editlink_attrs} data-icon="edit" title="Editar"></a>
									{END edit_link}
									{END edit_column}

																		{BEGIN inlineedit_column}
									{BEGIN inlineedit_link}
																			<a class="rnr-button-img" {$inlineeditlink_attrs} data-icon="inlineedit" title="Editar"></a>
									{END inlineedit_link}
									{END inlineedit_column}

									
																		{BEGIN view_column}
									{BEGIN view_link}
																			<a class="rnr-button-img" {$viewlink_attrs} data-icon="view" title="Ver"></a>
									{END view_link}
									{END view_column}
									</td>	
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<td class="rnr-bc" iEditCont="checkBox" {$rowstyle} {$recordattrs}>
									{BEGIN checkbox}
									<input type="checkbox" {$checkbox_attrs}>
									{END checkbox}
									</td>
									{END checkbox_column}

																		{BEGIN GE_GENERO_dtable_column}
									<td class="rnr-nowrap" {$rowstyle} {$recordattrs}>
									{BEGIN GE_PERSONA_dtable_link}
									<span>
									<a {$GE_PERSONA_dtablelink_attrs}>
										PERSONA
																				<span {$GE_PERSONA_childnumber_attr} dir="ltr">{BEGIN GE_PERSONA_childcount}({$GE_PERSONA_childnumber}){END GE_PERSONA_childcount}</span>
									</a>
																		&nbsp;
									</span>
									{END GE_PERSONA_dtable_link}
																		</td>
									{END GE_GENERO_dtable_column}

										{BEGIN GENERO_ID_fieldcolumn}
	<td class="{$GENERO_ID_class}" {$GENERO_ID_style} {$recordattrs}>
		{$GENERO_ID_value}
	</td>
{END GENERO_ID_fieldcolumn}

	{BEGIN NOMBRE_fieldcolumn}
	<td class="{$NOMBRE_class}" {$NOMBRE_style} {$recordattrs}>
		{$NOMBRE_value}
	</td>
{END NOMBRE_fieldcolumn}

	{BEGIN FEC_CREACION_fieldcolumn}
	<td class="{$FEC_CREACION_class}" {$FEC_CREACION_style} {$recordattrs}>
		{$FEC_CREACION_value}
	</td>
{END FEC_CREACION_fieldcolumn}

	{BEGIN USUARIO_CREACION_fieldcolumn}
	<td class="{$USUARIO_CREACION_class}" {$USUARIO_CREACION_style} {$recordattrs}>
		{$USUARIO_CREACION_value}
	</td>
{END USUARIO_CREACION_fieldcolumn}

	{BEGIN FEC_ULTIMA_MOD_fieldcolumn}
	<td class="{$FEC_ULTIMA_MOD_class}" {$FEC_ULTIMA_MOD_style} {$recordattrs}>
		{$FEC_ULTIMA_MOD_value}
	</td>
{END FEC_ULTIMA_MOD_fieldcolumn}

	{BEGIN USUARIO_ULTIMA_MOD_fieldcolumn}
	<td class="{$USUARIO_ULTIMA_MOD_class}" {$USUARIO_ULTIMA_MOD_style} {$recordattrs}>
		{$USUARIO_ULTIMA_MOD_value}
	</td>
{END USUARIO_ULTIMA_MOD_fieldcolumn}


									<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
									{BEGIN endrecord_block}
									<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
									{END endrecord_block}
																	
									{END grid_record}

								</tr>
								{END grid_row}
															
						</tbody>
					</table>
					

{END grid_block}



{END container_grid}



{BEGIN container_pagination}
<div class="rnr-c rnr-ch rnr-c-pagination">

{BEGIN pagination_block}
<div  class="style1 rnr-bc rnr-b-pagination {$brickclass_pagination}">{$pagination}</div>
{END pagination_block}


</div>
{END container_pagination}


			</div>
			<div class="rnr-right {$blockclass_right}">
				

{BEGIN container_searchpanel}
<div class="rnr-c rnr-cv rnr-c-searchpanel">

{BEGIN searchform_block}
<div  class="rnr-brickcontents style1 rnr-b-vsearch1 {$brickclass_vsearch1}">	Buscar por:
	{BEGIN searchPanelTopButtons}	
	<span>
	<a href="#" class="rnr-button img" id="showSrchWin{$id}"  data-icon="panelfloat" {$showHideSearchWin_attrs}></a>
	&nbsp;		
	<a href="#" class="rnr-button img" id="showOptPanel{$id}" data-icon="paneldown" {$showHideSearchPanel_attrs}></a>
	</span>
	{END searchPanelTopButtons}
</div>{END searchform_block}


{BEGIN searchform_block}
<div  class="rnr-brickcontents style1 rnr-b-vsearch2 {$brickclass_vsearch2}"><div>
	<span>
		{BEGIN searchform_text}
		<input type="text" {$searchfor_attrs} size="25">
		{END searchform_text}
		&nbsp;
		{BEGIN searchform_search}
			<a href="#" class="rnr-button img" data-icon="search" {$searchbutton_attrs}></a>
		{END searchform_search}
		&nbsp;
		{BEGIN searchform_showall}
			<a class="rnr-button" href="#" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</a>
		{END searchform_showall}
	</span>	
</div></div>{END searchform_block}


{BEGIN searchsaving_block}
<div  class="rnr-brickcontents style1 rnr-b-search_saving_buttons {$brickclass_search_saving_buttons}"></div>{END searchsaving_block}


{BEGIN searchPanel}
<div  class="rnr-brickcontents style1 rnr-b-searchpanel {$brickclass_searchpanel}"><div class="searchPanelContainer">
<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criterio:&nbsp;
		<input type="radio" name="srchType{$id}" class="rnr-radio-button" {$all_checkbox}>&nbsp;{BEGIN all_checkbox_label}<span>todos</span>{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType{$id}" class="rnr-radio-button" {$any_checkbox}>&nbsp;{BEGIN any_checkbox_label}<span>alguno</span>{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="rnr-buttons-group">
			<a href="#" id="showHideControlChooseMenu{$id}" class="rnr-button" {$showHideCtrls_attrs}>Añadir campo</a>
		</span>
		
		<a href="#" id="showHideSearchType{$id}" class="rnr-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
	</div>
	

	<table class="controlsBlock {$controls_block_class}">
				{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>	
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="rnr-searchtype">{$searchtype}</div>
				<div class="rnr-searchcontrol">{$searchcontrol}</div>
				<div class="rnr-searchcontrol">{$searchcontrol1}</div>
			</td>	
		</tr>
		{END searchCtrlBlock}
	</table>	


	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<a href="#" class="rnr-button" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</a>
	</div>
</div>

</div></div>{END searchPanel}



</div>
{END container_searchpanel}



{BEGIN container_menu}
<div class="rnr-c rnr-cv rnr-c-menu">

{BEGIN menu_block}
{$menu main}
{END menu_block}


</div>
{END container_menu}


			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
