<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_master}
<div class="rnr-c rnr-ch rnr-c-master">

{BEGIN mastertable_block}
<div  class="style1 rnr-bl rnr-b-masterinfoprint {$brickclass_masterinfoprint}">{$showmasterfile}
</div>
{END mastertable_block}

<div class="rnr-hfiller"></div>
</div>
{END container_master}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel GE_PERSONA_DISPONIBLE print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN USERNAME_fieldheadercolumn}
<th class="runner-cc {$USERNAME_class}" {$USERNAME_style}>
	{BEGIN USERNAME_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE USERNAME}</b>
	{END USERNAME_fieldheader}
</th>
{END USERNAME_fieldheadercolumn}
	{BEGIN ES_REAL_fieldheadercolumn}
<th class="runner-cc {$ES_REAL_class}" {$ES_REAL_style}>
	{BEGIN ES_REAL_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE ES_REAL}</b>
	{END ES_REAL_fieldheader}
</th>
{END ES_REAL_fieldheadercolumn}
	{BEGIN COLOR_OJOS_ID_fieldheadercolumn}
<th class="runner-cc {$COLOR_OJOS_ID_class}" {$COLOR_OJOS_ID_style}>
	{BEGIN COLOR_OJOS_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE COLOR_OJOS_ID}</b>
	{END COLOR_OJOS_ID_fieldheader}
</th>
{END COLOR_OJOS_ID_fieldheadercolumn}
	{BEGIN COLOR_PIEL_ID_fieldheadercolumn}
<th class="runner-cc {$COLOR_PIEL_ID_class}" {$COLOR_PIEL_ID_style}>
	{BEGIN COLOR_PIEL_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE COLOR_PIEL_ID}</b>
	{END COLOR_PIEL_ID_fieldheader}
</th>
{END COLOR_PIEL_ID_fieldheadercolumn}
	{BEGIN CONTEXTURA_ID_fieldheadercolumn}
<th class="runner-cc {$CONTEXTURA_ID_class}" {$CONTEXTURA_ID_style}>
	{BEGIN CONTEXTURA_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE CONTEXTURA_ID}</b>
	{END CONTEXTURA_ID_fieldheader}
</th>
{END CONTEXTURA_ID_fieldheadercolumn}
	{BEGIN NIVEL_EDUCACION_ID_fieldheadercolumn}
<th class="runner-cc {$NIVEL_EDUCACION_ID_class}" {$NIVEL_EDUCACION_ID_style}>
	{BEGIN NIVEL_EDUCACION_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE NIVEL_EDUCACION_ID}</b>
	{END NIVEL_EDUCACION_ID_fieldheader}
</th>
{END NIVEL_EDUCACION_ID_fieldheadercolumn}
	{BEGIN ESTADO_CIVIL_ID_fieldheadercolumn}
<th class="runner-cc {$ESTADO_CIVIL_ID_class}" {$ESTADO_CIVIL_ID_style}>
	{BEGIN ESTADO_CIVIL_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE ESTADO_CIVIL_ID}</b>
	{END ESTADO_CIVIL_ID_fieldheader}
</th>
{END ESTADO_CIVIL_ID_fieldheadercolumn}
	{BEGIN FUMADOR_ID_fieldheadercolumn}
<th class="runner-cc {$FUMADOR_ID_class}" {$FUMADOR_ID_style}>
	{BEGIN FUMADOR_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE FUMADOR_ID}</b>
	{END FUMADOR_ID_fieldheader}
</th>
{END FUMADOR_ID_fieldheadercolumn}
	{BEGIN BEBEDOR_ID_fieldheadercolumn}
<th class="runner-cc {$BEBEDOR_ID_class}" {$BEBEDOR_ID_style}>
	{BEGIN BEBEDOR_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE BEBEDOR_ID}</b>
	{END BEBEDOR_ID_fieldheader}
</th>
{END BEBEDOR_ID_fieldheadercolumn}
	{BEGIN FRECUENCIA_EJERCICIO_ID_fieldheadercolumn}
<th class="runner-cc {$FRECUENCIA_EJERCICIO_ID_class}" {$FRECUENCIA_EJERCICIO_ID_style}>
	{BEGIN FRECUENCIA_EJERCICIO_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE FRECUENCIA_EJERCICIO_ID}</b>
	{END FRECUENCIA_EJERCICIO_ID_fieldheader}
</th>
{END FRECUENCIA_EJERCICIO_ID_fieldheadercolumn}
	{BEGIN SALARIO_ID_fieldheadercolumn}
<th class="runner-cc {$SALARIO_ID_class}" {$SALARIO_ID_style}>
	{BEGIN SALARIO_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE SALARIO_ID}</b>
	{END SALARIO_ID_fieldheader}
</th>
{END SALARIO_ID_fieldheadercolumn}
	{BEGIN ALTURA_fieldheadercolumn}
<th class="runner-cc {$ALTURA_class}" {$ALTURA_style}>
	{BEGIN ALTURA_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE ALTURA}</b>
	{END ALTURA_fieldheader}
</th>
{END ALTURA_fieldheadercolumn}
	{BEGIN PESO_fieldheadercolumn}
<th class="runner-cc {$PESO_class}" {$PESO_style}>
	{BEGIN PESO_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE PESO}</b>
	{END PESO_fieldheader}
</th>
{END PESO_fieldheadercolumn}
	{BEGIN NUM_HIJOS_fieldheadercolumn}
<th class="runner-cc {$NUM_HIJOS_class}" {$NUM_HIJOS_style}>
	{BEGIN NUM_HIJOS_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE NUM_HIJOS}</b>
	{END NUM_HIJOS_fieldheader}
</th>
{END NUM_HIJOS_fieldheadercolumn}
	{BEGIN QUIERE_HIJOS_fieldheadercolumn}
<th class="runner-cc {$QUIERE_HIJOS_class}" {$QUIERE_HIJOS_style}>
	{BEGIN QUIERE_HIJOS_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE QUIERE_HIJOS}</b>
	{END QUIERE_HIJOS_fieldheader}
</th>
{END QUIERE_HIJOS_fieldheadercolumn}
	{BEGIN FEC_CREACION_fieldheadercolumn}
<th class="runner-cc {$FEC_CREACION_class}" {$FEC_CREACION_style}>
	{BEGIN FEC_CREACION_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE FEC_CREACION}</b>
	{END FEC_CREACION_fieldheader}
</th>
{END FEC_CREACION_fieldheadercolumn}
	{BEGIN USUARIO_CREACION_fieldheadercolumn}
<th class="runner-cc {$USUARIO_CREACION_class}" {$USUARIO_CREACION_style}>
	{BEGIN USUARIO_CREACION_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE USUARIO_CREACION}</b>
	{END USUARIO_CREACION_fieldheader}
</th>
{END USUARIO_CREACION_fieldheadercolumn}
	{BEGIN FEC_ULTIMA_MOD_fieldheadercolumn}
<th class="runner-cc {$FEC_ULTIMA_MOD_class}" {$FEC_ULTIMA_MOD_style}>
	{BEGIN FEC_ULTIMA_MOD_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE FEC_ULTIMA_MOD}</b>
	{END FEC_ULTIMA_MOD_fieldheader}
</th>
{END FEC_ULTIMA_MOD_fieldheadercolumn}
	{BEGIN USUARIO_ULTIMA_MOD_fieldheadercolumn}
<th class="runner-cc {$USUARIO_ULTIMA_MOD_class}" {$USUARIO_ULTIMA_MOD_style}>
	{BEGIN USUARIO_ULTIMA_MOD_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE USUARIO_ULTIMA_MOD}</b>
	{END USUARIO_ULTIMA_MOD_fieldheader}
</th>
{END USUARIO_ULTIMA_MOD_fieldheadercolumn}
	{BEGIN TIPO_RELACION_ID_fieldheadercolumn}
<th class="runner-cc {$TIPO_RELACION_ID_class}" {$TIPO_RELACION_ID_style}>
	{BEGIN TIPO_RELACION_ID_fieldheader}
	<b>{$label GE_PERSONA_DISPONIBLE TIPO_RELACION_ID}</b>
	{END TIPO_RELACION_ID_fieldheader}
</th>
{END TIPO_RELACION_ID_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN USERNAME_fieldcolumn}
<td  class="runner-cc {$USERNAME_class}" {$USERNAME_style} {$recordattrs}>
	{$USERNAME_value}
</td>
{END USERNAME_fieldcolumn}
	{BEGIN ES_REAL_fieldcolumn}
<td  class="runner-cc {$ES_REAL_class}" {$ES_REAL_style} {$recordattrs}>
	{$ES_REAL_value}
</td>
{END ES_REAL_fieldcolumn}
	{BEGIN COLOR_OJOS_ID_fieldcolumn}
<td  class="runner-cc {$COLOR_OJOS_ID_class}" {$COLOR_OJOS_ID_style} {$recordattrs}>
	{$COLOR_OJOS_ID_value}
</td>
{END COLOR_OJOS_ID_fieldcolumn}
	{BEGIN COLOR_PIEL_ID_fieldcolumn}
<td  class="runner-cc {$COLOR_PIEL_ID_class}" {$COLOR_PIEL_ID_style} {$recordattrs}>
	{$COLOR_PIEL_ID_value}
</td>
{END COLOR_PIEL_ID_fieldcolumn}
	{BEGIN CONTEXTURA_ID_fieldcolumn}
<td  class="runner-cc {$CONTEXTURA_ID_class}" {$CONTEXTURA_ID_style} {$recordattrs}>
	{$CONTEXTURA_ID_value}
</td>
{END CONTEXTURA_ID_fieldcolumn}
	{BEGIN NIVEL_EDUCACION_ID_fieldcolumn}
<td  class="runner-cc {$NIVEL_EDUCACION_ID_class}" {$NIVEL_EDUCACION_ID_style} {$recordattrs}>
	{$NIVEL_EDUCACION_ID_value}
</td>
{END NIVEL_EDUCACION_ID_fieldcolumn}
	{BEGIN ESTADO_CIVIL_ID_fieldcolumn}
<td  class="runner-cc {$ESTADO_CIVIL_ID_class}" {$ESTADO_CIVIL_ID_style} {$recordattrs}>
	{$ESTADO_CIVIL_ID_value}
</td>
{END ESTADO_CIVIL_ID_fieldcolumn}
	{BEGIN FUMADOR_ID_fieldcolumn}
<td  class="runner-cc {$FUMADOR_ID_class}" {$FUMADOR_ID_style} {$recordattrs}>
	{$FUMADOR_ID_value}
</td>
{END FUMADOR_ID_fieldcolumn}
	{BEGIN BEBEDOR_ID_fieldcolumn}
<td  class="runner-cc {$BEBEDOR_ID_class}" {$BEBEDOR_ID_style} {$recordattrs}>
	{$BEBEDOR_ID_value}
</td>
{END BEBEDOR_ID_fieldcolumn}
	{BEGIN FRECUENCIA_EJERCICIO_ID_fieldcolumn}
<td  class="runner-cc {$FRECUENCIA_EJERCICIO_ID_class}" {$FRECUENCIA_EJERCICIO_ID_style} {$recordattrs}>
	{$FRECUENCIA_EJERCICIO_ID_value}
</td>
{END FRECUENCIA_EJERCICIO_ID_fieldcolumn}
	{BEGIN SALARIO_ID_fieldcolumn}
<td  class="runner-cc {$SALARIO_ID_class}" {$SALARIO_ID_style} {$recordattrs}>
	{$SALARIO_ID_value}
</td>
{END SALARIO_ID_fieldcolumn}
	{BEGIN ALTURA_fieldcolumn}
<td  class="runner-cc {$ALTURA_class}" {$ALTURA_style} {$recordattrs}>
	{$ALTURA_value}
</td>
{END ALTURA_fieldcolumn}
	{BEGIN PESO_fieldcolumn}
<td  class="runner-cc {$PESO_class}" {$PESO_style} {$recordattrs}>
	{$PESO_value}
</td>
{END PESO_fieldcolumn}
	{BEGIN NUM_HIJOS_fieldcolumn}
<td  class="runner-cc {$NUM_HIJOS_class}" {$NUM_HIJOS_style} {$recordattrs}>
	{$NUM_HIJOS_value}
</td>
{END NUM_HIJOS_fieldcolumn}
	{BEGIN QUIERE_HIJOS_fieldcolumn}
<td  class="runner-cc {$QUIERE_HIJOS_class}" {$QUIERE_HIJOS_style} {$recordattrs}>
	{$QUIERE_HIJOS_value}
</td>
{END QUIERE_HIJOS_fieldcolumn}
	{BEGIN FEC_CREACION_fieldcolumn}
<td  class="runner-cc {$FEC_CREACION_class}" {$FEC_CREACION_style} {$recordattrs}>
	{$FEC_CREACION_value}
</td>
{END FEC_CREACION_fieldcolumn}
	{BEGIN USUARIO_CREACION_fieldcolumn}
<td  class="runner-cc {$USUARIO_CREACION_class}" {$USUARIO_CREACION_style} {$recordattrs}>
	{$USUARIO_CREACION_value}
</td>
{END USUARIO_CREACION_fieldcolumn}
	{BEGIN FEC_ULTIMA_MOD_fieldcolumn}
<td  class="runner-cc {$FEC_ULTIMA_MOD_class}" {$FEC_ULTIMA_MOD_style} {$recordattrs}>
	{$FEC_ULTIMA_MOD_value}
</td>
{END FEC_ULTIMA_MOD_fieldcolumn}
	{BEGIN USUARIO_ULTIMA_MOD_fieldcolumn}
<td  class="runner-cc {$USUARIO_ULTIMA_MOD_class}" {$USUARIO_ULTIMA_MOD_style} {$recordattrs}>
	{$USUARIO_ULTIMA_MOD_value}
</td>
{END USUARIO_ULTIMA_MOD_fieldcolumn}
	{BEGIN TIPO_RELACION_ID_fieldcolumn}
<td  class="runner-cc {$TIPO_RELACION_ID_class}" {$TIPO_RELACION_ID_style} {$recordattrs}>
	{$TIPO_RELACION_ID_value}
</td>
{END TIPO_RELACION_ID_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
