<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel GE_PERSONA_DISPONIBLE edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN USERNAME_fieldblock}
<tr class="{$fielddispclass_USERNAME}" data-fieldname="USERNAME">
	<td class="rnr-label">
		{BEGIN USERNAME_label}{$label GE_PERSONA_DISPONIBLE USERNAME}{END USERNAME_label}
	</td>
	<td class="rnr-control style3">
		{$USERNAME_editcontrol}&nbsp;
	</td>
</tr>
{END USERNAME_fieldblock}
	{BEGIN ES_REAL_fieldblock}
<tr class="{$fielddispclass_ES_REAL}" data-fieldname="ES_REAL">
	<td class="rnr-label">
		{BEGIN ES_REAL_label}{$label GE_PERSONA_DISPONIBLE ES_REAL}{END ES_REAL_label}
	</td>
	<td class="rnr-control style3">
		{$ES_REAL_editcontrol}&nbsp;
	</td>
</tr>
{END ES_REAL_fieldblock}
	{BEGIN COLOR_OJOS_ID_fieldblock}
<tr class="{$fielddispclass_COLOR_OJOS_ID}" data-fieldname="COLOR_OJOS_ID">
	<td class="rnr-label">
		{BEGIN COLOR_OJOS_ID_label}{$label GE_PERSONA_DISPONIBLE COLOR_OJOS_ID}{END COLOR_OJOS_ID_label}
	</td>
	<td class="rnr-control style3">
		{$COLOR_OJOS_ID_editcontrol}&nbsp;
	</td>
</tr>
{END COLOR_OJOS_ID_fieldblock}
	{BEGIN COLOR_PIEL_ID_fieldblock}
<tr class="{$fielddispclass_COLOR_PIEL_ID}" data-fieldname="COLOR_PIEL_ID">
	<td class="rnr-label">
		{BEGIN COLOR_PIEL_ID_label}{$label GE_PERSONA_DISPONIBLE COLOR_PIEL_ID}{END COLOR_PIEL_ID_label}
	</td>
	<td class="rnr-control style3">
		{$COLOR_PIEL_ID_editcontrol}&nbsp;
	</td>
</tr>
{END COLOR_PIEL_ID_fieldblock}
	{BEGIN CONTEXTURA_ID_fieldblock}
<tr class="{$fielddispclass_CONTEXTURA_ID}" data-fieldname="CONTEXTURA_ID">
	<td class="rnr-label">
		{BEGIN CONTEXTURA_ID_label}{$label GE_PERSONA_DISPONIBLE CONTEXTURA_ID}{END CONTEXTURA_ID_label}
	</td>
	<td class="rnr-control style3">
		{$CONTEXTURA_ID_editcontrol}&nbsp;
	</td>
</tr>
{END CONTEXTURA_ID_fieldblock}
	{BEGIN NIVEL_EDUCACION_ID_fieldblock}
<tr class="{$fielddispclass_NIVEL_EDUCACION_ID}" data-fieldname="NIVEL_EDUCACION_ID">
	<td class="rnr-label">
		{BEGIN NIVEL_EDUCACION_ID_label}{$label GE_PERSONA_DISPONIBLE NIVEL_EDUCACION_ID}{END NIVEL_EDUCACION_ID_label}
	</td>
	<td class="rnr-control style3">
		{$NIVEL_EDUCACION_ID_editcontrol}&nbsp;
	</td>
</tr>
{END NIVEL_EDUCACION_ID_fieldblock}
	{BEGIN ESTADO_CIVIL_ID_fieldblock}
<tr class="{$fielddispclass_ESTADO_CIVIL_ID}" data-fieldname="ESTADO_CIVIL_ID">
	<td class="rnr-label">
		{BEGIN ESTADO_CIVIL_ID_label}{$label GE_PERSONA_DISPONIBLE ESTADO_CIVIL_ID}{END ESTADO_CIVIL_ID_label}
	</td>
	<td class="rnr-control style3">
		{$ESTADO_CIVIL_ID_editcontrol}&nbsp;
	</td>
</tr>
{END ESTADO_CIVIL_ID_fieldblock}
	{BEGIN FUMADOR_ID_fieldblock}
<tr class="{$fielddispclass_FUMADOR_ID}" data-fieldname="FUMADOR_ID">
	<td class="rnr-label">
		{BEGIN FUMADOR_ID_label}{$label GE_PERSONA_DISPONIBLE FUMADOR_ID}{END FUMADOR_ID_label}
	</td>
	<td class="rnr-control style3">
		{$FUMADOR_ID_editcontrol}&nbsp;
	</td>
</tr>
{END FUMADOR_ID_fieldblock}
	{BEGIN BEBEDOR_ID_fieldblock}
<tr class="{$fielddispclass_BEBEDOR_ID}" data-fieldname="BEBEDOR_ID">
	<td class="rnr-label">
		{BEGIN BEBEDOR_ID_label}{$label GE_PERSONA_DISPONIBLE BEBEDOR_ID}{END BEBEDOR_ID_label}
	</td>
	<td class="rnr-control style3">
		{$BEBEDOR_ID_editcontrol}&nbsp;
	</td>
</tr>
{END BEBEDOR_ID_fieldblock}
	{BEGIN FRECUENCIA_EJERCICIO_ID_fieldblock}
<tr class="{$fielddispclass_FRECUENCIA_EJERCICIO_ID}" data-fieldname="FRECUENCIA_EJERCICIO_ID">
	<td class="rnr-label">
		{BEGIN FRECUENCIA_EJERCICIO_ID_label}{$label GE_PERSONA_DISPONIBLE FRECUENCIA_EJERCICIO_ID}{END FRECUENCIA_EJERCICIO_ID_label}
	</td>
	<td class="rnr-control style3">
		{$FRECUENCIA_EJERCICIO_ID_editcontrol}&nbsp;
	</td>
</tr>
{END FRECUENCIA_EJERCICIO_ID_fieldblock}
	{BEGIN SALARIO_ID_fieldblock}
<tr class="{$fielddispclass_SALARIO_ID}" data-fieldname="SALARIO_ID">
	<td class="rnr-label">
		{BEGIN SALARIO_ID_label}{$label GE_PERSONA_DISPONIBLE SALARIO_ID}{END SALARIO_ID_label}
	</td>
	<td class="rnr-control style3">
		{$SALARIO_ID_editcontrol}&nbsp;
	</td>
</tr>
{END SALARIO_ID_fieldblock}
	{BEGIN ALTURA_fieldblock}
<tr class="{$fielddispclass_ALTURA}" data-fieldname="ALTURA">
	<td class="rnr-label">
		{BEGIN ALTURA_label}{$label GE_PERSONA_DISPONIBLE ALTURA}{END ALTURA_label}
	</td>
	<td class="rnr-control style3">
		{$ALTURA_editcontrol}&nbsp;
	</td>
</tr>
{END ALTURA_fieldblock}
	{BEGIN PESO_fieldblock}
<tr class="{$fielddispclass_PESO}" data-fieldname="PESO">
	<td class="rnr-label">
		{BEGIN PESO_label}{$label GE_PERSONA_DISPONIBLE PESO}{END PESO_label}
	</td>
	<td class="rnr-control style3">
		{$PESO_editcontrol}&nbsp;
	</td>
</tr>
{END PESO_fieldblock}
	{BEGIN NUM_HIJOS_fieldblock}
<tr class="{$fielddispclass_NUM_HIJOS}" data-fieldname="NUM_HIJOS">
	<td class="rnr-label">
		{BEGIN NUM_HIJOS_label}{$label GE_PERSONA_DISPONIBLE NUM_HIJOS}{END NUM_HIJOS_label}
	</td>
	<td class="rnr-control style3">
		{$NUM_HIJOS_editcontrol}&nbsp;
	</td>
</tr>
{END NUM_HIJOS_fieldblock}
	{BEGIN QUIERE_HIJOS_fieldblock}
<tr class="{$fielddispclass_QUIERE_HIJOS}" data-fieldname="QUIERE_HIJOS">
	<td class="rnr-label">
		{BEGIN QUIERE_HIJOS_label}{$label GE_PERSONA_DISPONIBLE QUIERE_HIJOS}{END QUIERE_HIJOS_label}
	</td>
	<td class="rnr-control style3">
		{$QUIERE_HIJOS_editcontrol}&nbsp;
	</td>
</tr>
{END QUIERE_HIJOS_fieldblock}
	{BEGIN TIPO_RELACION_ID_fieldblock}
<tr class="{$fielddispclass_TIPO_RELACION_ID}" data-fieldname="TIPO_RELACION_ID">
	<td class="rnr-label">
		{BEGIN TIPO_RELACION_ID_label}{$label GE_PERSONA_DISPONIBLE TIPO_RELACION_ID}{END TIPO_RELACION_ID_label}
	</td>
	<td class="rnr-control style3">
		{$TIPO_RELACION_ID_editcontrol}&nbsp;
	</td>
</tr>
{END TIPO_RELACION_ID_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN save_button}
<a href="#" class="rnr-button main" {$savebutton_attrs}>Guardar</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
{END close_button}
{BEGIN view_page_button}
<a href="#" class="rnr-button" {$view_page_button_attrs}>Ver</a>
{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
