<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="USERNAME">
	{$USERNAME_editcontrol}
	</control>
	<control field="ES_ADMIN">
	{$ES_ADMIN_editcontrol}
	</control>
	<control field="NACIMIENTO">
	{$NACIMIENTO_editcontrol}
	</control>
	<control field="PRIMER_APELLIDO">
	{$PRIMER_APELLIDO_editcontrol}
	</control>
	<control field="SEGUNDO_APELLIDO">
	{$SEGUNDO_APELLIDO_editcontrol}
	</control>
	<control field="NOMBRE">
	{$NOMBRE_editcontrol}
	</control>
	<control field="GENERO_ID">
	{$GENERO_ID_editcontrol}
	</control>
	<control field="CIUDAD_ID">
	{$CIUDAD_ID_editcontrol}
	</control>
	<control field="SLOGAN">
	{$SLOGAN_editcontrol}
	</control>
	<control field="FEC_CREACION">
	{$FEC_CREACION_editcontrol}
	</control>
	<control field="USUARIO_CREACION">
	{$USUARIO_CREACION_editcontrol}
	</control>
	<control field="FEC_ULTIMA_MOD">
	{$FEC_ULTIMA_MOD_editcontrol}
	</control>
	<control field="USUARIO_ULTIMA_MOD">
	{$USUARIO_ULTIMA_MOD_editcontrol}
	</control>
	<control field="EMAIL">
	{$EMAIL_editcontrol}
	</control>
	<control field="CLAVE">
	{$CLAVE_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>