<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}">	<h1>{$pagetitlelabel GE_PERSONA_DISPONIBLE masterlist}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-mastergridfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$USERNAME_class}">{$label GE_PERSONA_DISPONIBLE USERNAME}</th>
			<th class="{$ES_REAL_class}">{$label GE_PERSONA_DISPONIBLE ES_REAL}</th>
			<th class="{$COLOR_OJOS_ID_class}">{$label GE_PERSONA_DISPONIBLE COLOR_OJOS_ID}</th>
			<th class="{$COLOR_PIEL_ID_class}">{$label GE_PERSONA_DISPONIBLE COLOR_PIEL_ID}</th>
			<th class="{$CONTEXTURA_ID_class}">{$label GE_PERSONA_DISPONIBLE CONTEXTURA_ID}</th>
			<th class="{$NIVEL_EDUCACION_ID_class}">{$label GE_PERSONA_DISPONIBLE NIVEL_EDUCACION_ID}</th>
			<th class="{$ESTADO_CIVIL_ID_class}">{$label GE_PERSONA_DISPONIBLE ESTADO_CIVIL_ID}</th>
			<th class="{$FUMADOR_ID_class}">{$label GE_PERSONA_DISPONIBLE FUMADOR_ID}</th>
			<th class="{$BEBEDOR_ID_class}">{$label GE_PERSONA_DISPONIBLE BEBEDOR_ID}</th>
			<th class="{$FRECUENCIA_EJERCICIO_ID_class}">{$label GE_PERSONA_DISPONIBLE FRECUENCIA_EJERCICIO_ID}</th>
			<th class="{$SALARIO_ID_class}">{$label GE_PERSONA_DISPONIBLE SALARIO_ID}</th>
			<th class="{$ALTURA_class}">{$label GE_PERSONA_DISPONIBLE ALTURA}</th>
			<th class="{$PESO_class}">{$label GE_PERSONA_DISPONIBLE PESO}</th>
			<th class="{$NUM_HIJOS_class}">{$label GE_PERSONA_DISPONIBLE NUM_HIJOS}</th>
			<th class="{$QUIERE_HIJOS_class}">{$label GE_PERSONA_DISPONIBLE QUIERE_HIJOS}</th>
			<th class="{$FEC_CREACION_class}">{$label GE_PERSONA_DISPONIBLE FEC_CREACION}</th>
			<th class="{$USUARIO_CREACION_class}">{$label GE_PERSONA_DISPONIBLE USUARIO_CREACION}</th>
			<th class="{$FEC_ULTIMA_MOD_class}">{$label GE_PERSONA_DISPONIBLE FEC_ULTIMA_MOD}</th>
			<th class="{$USUARIO_ULTIMA_MOD_class}">{$label GE_PERSONA_DISPONIBLE USUARIO_ULTIMA_MOD}</th>
			<th class="{$TIPO_RELACION_ID_class}">{$label GE_PERSONA_DISPONIBLE TIPO_RELACION_ID}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$USERNAME_class}">{$USERNAME_mastervalue}</td>
			<td class="{$ES_REAL_class}">{$ES_REAL_mastervalue}</td>
			<td class="{$COLOR_OJOS_ID_class}">{$COLOR_OJOS_ID_mastervalue}</td>
			<td class="{$COLOR_PIEL_ID_class}">{$COLOR_PIEL_ID_mastervalue}</td>
			<td class="{$CONTEXTURA_ID_class}">{$CONTEXTURA_ID_mastervalue}</td>
			<td class="{$NIVEL_EDUCACION_ID_class}">{$NIVEL_EDUCACION_ID_mastervalue}</td>
			<td class="{$ESTADO_CIVIL_ID_class}">{$ESTADO_CIVIL_ID_mastervalue}</td>
			<td class="{$FUMADOR_ID_class}">{$FUMADOR_ID_mastervalue}</td>
			<td class="{$BEBEDOR_ID_class}">{$BEBEDOR_ID_mastervalue}</td>
			<td class="{$FRECUENCIA_EJERCICIO_ID_class}">{$FRECUENCIA_EJERCICIO_ID_mastervalue}</td>
			<td class="{$SALARIO_ID_class}">{$SALARIO_ID_mastervalue}</td>
			<td class="{$ALTURA_class}">{$ALTURA_mastervalue}</td>
			<td class="{$PESO_class}">{$PESO_mastervalue}</td>
			<td class="{$NUM_HIJOS_class}">{$NUM_HIJOS_mastervalue}</td>
			<td class="{$QUIERE_HIJOS_class}">{$QUIERE_HIJOS_mastervalue}</td>
			<td class="{$FEC_CREACION_class}">{$FEC_CREACION_mastervalue}</td>
			<td class="{$USUARIO_CREACION_class}">{$USUARIO_CREACION_mastervalue}</td>
			<td class="{$FEC_ULTIMA_MOD_class}">{$FEC_ULTIMA_MOD_mastervalue}</td>
			<td class="{$USUARIO_ULTIMA_MOD_class}">{$USUARIO_ULTIMA_MOD_mastervalue}</td>
			<td class="{$TIPO_RELACION_ID_class}">{$TIPO_RELACION_ID_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 




{END container_mastergrid}

</div>