<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="USERNAME">
	{$USERNAME_editcontrol}
	</control>
	<control field="ES_REAL">
	{$ES_REAL_editcontrol}
	</control>
	<control field="COLOR_OJOS_ID">
	{$COLOR_OJOS_ID_editcontrol}
	</control>
	<control field="COLOR_PIEL_ID">
	{$COLOR_PIEL_ID_editcontrol}
	</control>
	<control field="CONTEXTURA_ID">
	{$CONTEXTURA_ID_editcontrol}
	</control>
	<control field="NIVEL_EDUCACION_ID">
	{$NIVEL_EDUCACION_ID_editcontrol}
	</control>
	<control field="ESTADO_CIVIL_ID">
	{$ESTADO_CIVIL_ID_editcontrol}
	</control>
	<control field="FUMADOR_ID">
	{$FUMADOR_ID_editcontrol}
	</control>
	<control field="BEBEDOR_ID">
	{$BEBEDOR_ID_editcontrol}
	</control>
	<control field="FRECUENCIA_EJERCICIO_ID">
	{$FRECUENCIA_EJERCICIO_ID_editcontrol}
	</control>
	<control field="SALARIO_ID">
	{$SALARIO_ID_editcontrol}
	</control>
	<control field="ALTURA">
	{$ALTURA_editcontrol}
	</control>
	<control field="PESO">
	{$PESO_editcontrol}
	</control>
	<control field="NUM_HIJOS">
	{$NUM_HIJOS_editcontrol}
	</control>
	<control field="QUIERE_HIJOS">
	{$QUIERE_HIJOS_editcontrol}
	</control>
	<control field="FEC_CREACION">
	{$FEC_CREACION_editcontrol}
	</control>
	<control field="USUARIO_CREACION">
	{$USUARIO_CREACION_editcontrol}
	</control>
	<control field="FEC_ULTIMA_MOD">
	{$FEC_ULTIMA_MOD_editcontrol}
	</control>
	<control field="USUARIO_ULTIMA_MOD">
	{$USUARIO_ULTIMA_MOD_editcontrol}
	</control>
	<control field="TIPO_RELACION_ID">
	{$TIPO_RELACION_ID_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>