<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="TIPO_RELACION_ID">
	{$TIPO_RELACION_ID_editcontrol}
	</control>
	<control field="NOMBRE">
	{$NOMBRE_editcontrol}
	</control>
	<control field="FECHA_CREACION">
	{$FECHA_CREACION_editcontrol}
	</control>
	<control field="FECHA_MODIFICACION">
	{$FECHA_MODIFICACION_editcontrol}
	</control>
	<control field="USUARIO_CREACION">
	{$USUARIO_CREACION_editcontrol}
	</control>
	<control field="USUARIO_MODIFICACION">
	{$USUARIO_MODIFICACION_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>