<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}">{BEGIN divideintopages_block}
<a href="#" class="divideintopages rnr-button button" {$divideintopages_attrs}>Prepare for printing</a>
{END divideintopages_block}
</div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}




		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_pageheader}
<div class="rnr-c rnr-cv rnr-c-pageheader">


<div  class="rnr-brickcontents style1 rnr-b-printheader {$brickclass_printheader}">	<h1>{$pagetitlelabel GE_TIPO_RELACION print}</h1>
</div>


{BEGIN page_number}
<div  class="rnr-brickcontents style1 rnr-b-page_of_print {$brickclass_page_of_print}"><h1>Página <span class="rp-pageno">{$pageno}</span> / <span class="rp-pagecount">{$pagecount}</span></h1></div>{END page_number}


</div>
{END container_pageheader}



{BEGIN container_grid}


{BEGIN grid_block}
	<table class="rnr-c rnr-c-grid rnr-b-grid rnr-gridtable rp-maintable" cellpadding="0">
	<thead>
	{BEGIN grid_header}
<tr class="rnr-toprow style1 {$gridHeader_class}" >
{BEGIN record_header}
		{BEGIN TIPO_RELACION_ID_fieldheadercolumn}
<th class="runner-cc {$TIPO_RELACION_ID_class}" {$TIPO_RELACION_ID_style}>
	{BEGIN TIPO_RELACION_ID_fieldheader}
	<b>{$label GE_TIPO_RELACION TIPO_RELACION_ID}</b>
	{END TIPO_RELACION_ID_fieldheader}
</th>
{END TIPO_RELACION_ID_fieldheadercolumn}
	{BEGIN NOMBRE_fieldheadercolumn}
<th class="runner-cc {$NOMBRE_class}" {$NOMBRE_style}>
	{BEGIN NOMBRE_fieldheader}
	<b>{$label GE_TIPO_RELACION NOMBRE}</b>
	{END NOMBRE_fieldheader}
</th>
{END NOMBRE_fieldheadercolumn}
	{BEGIN FECHA_CREACION_fieldheadercolumn}
<th class="runner-cc {$FECHA_CREACION_class}" {$FECHA_CREACION_style}>
	{BEGIN FECHA_CREACION_fieldheader}
	<b>{$label GE_TIPO_RELACION FECHA_CREACION}</b>
	{END FECHA_CREACION_fieldheader}
</th>
{END FECHA_CREACION_fieldheadercolumn}
	{BEGIN FECHA_MODIFICACION_fieldheadercolumn}
<th class="runner-cc {$FECHA_MODIFICACION_class}" {$FECHA_MODIFICACION_style}>
	{BEGIN FECHA_MODIFICACION_fieldheader}
	<b>{$label GE_TIPO_RELACION FECHA_MODIFICACION}</b>
	{END FECHA_MODIFICACION_fieldheader}
</th>
{END FECHA_MODIFICACION_fieldheadercolumn}
	{BEGIN USUARIO_CREACION_fieldheadercolumn}
<th class="runner-cc {$USUARIO_CREACION_class}" {$USUARIO_CREACION_style}>
	{BEGIN USUARIO_CREACION_fieldheader}
	<b>{$label GE_TIPO_RELACION USUARIO_CREACION}</b>
	{END USUARIO_CREACION_fieldheader}
</th>
{END USUARIO_CREACION_fieldheadercolumn}
	{BEGIN USUARIO_MODIFICACION_fieldheadercolumn}
<th class="runner-cc {$USUARIO_MODIFICACION_class}" {$USUARIO_MODIFICACION_style}>
	{BEGIN USUARIO_MODIFICACION_fieldheader}
	<b>{$label GE_TIPO_RELACION USUARIO_MODIFICACION}</b>
	{END USUARIO_MODIFICACION_fieldheader}
</th>
{END USUARIO_MODIFICACION_fieldheadercolumn}
		
	<th class="rnr-edge">&nbsp;</th>
	{BEGIN endrecordheader_block}
	<th class="rnr-cs">&nbsp;</th>
	{END endrecordheader_block}
	{END record_header}
</tr>
{END grid_header}

	</thead>
	<tbody>	
	{BEGIN grid_row}
	<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
		{BEGIN grid_record}
				{BEGIN TIPO_RELACION_ID_fieldcolumn}
<td  class="runner-cc {$TIPO_RELACION_ID_class}" {$TIPO_RELACION_ID_style} {$recordattrs}>
	{$TIPO_RELACION_ID_value}
</td>
{END TIPO_RELACION_ID_fieldcolumn}
	{BEGIN NOMBRE_fieldcolumn}
<td  class="runner-cc {$NOMBRE_class}" {$NOMBRE_style} {$recordattrs}>
	{$NOMBRE_value}
</td>
{END NOMBRE_fieldcolumn}
	{BEGIN FECHA_CREACION_fieldcolumn}
<td  class="runner-cc {$FECHA_CREACION_class}" {$FECHA_CREACION_style} {$recordattrs}>
	{$FECHA_CREACION_value}
</td>
{END FECHA_CREACION_fieldcolumn}
	{BEGIN FECHA_MODIFICACION_fieldcolumn}
<td  class="runner-cc {$FECHA_MODIFICACION_class}" {$FECHA_MODIFICACION_style} {$recordattrs}>
	{$FECHA_MODIFICACION_value}
</td>
{END FECHA_MODIFICACION_fieldcolumn}
	{BEGIN USUARIO_CREACION_fieldcolumn}
<td  class="runner-cc {$USUARIO_CREACION_class}" {$USUARIO_CREACION_style} {$recordattrs}>
	{$USUARIO_CREACION_value}
</td>
{END USUARIO_CREACION_fieldcolumn}
	{BEGIN USUARIO_MODIFICACION_fieldcolumn}
<td  class="runner-cc {$USUARIO_MODIFICACION_class}" {$USUARIO_MODIFICACION_style} {$recordattrs}>
	{$USUARIO_MODIFICACION_value}
</td>
{END USUARIO_MODIFICACION_fieldcolumn}

		<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
		{BEGIN endrecord_block}
		<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
		{END endrecord_block}
										
		{END grid_record}

	</tr>
{END grid_row}


	
	</tbody>
</table>

{END grid_block}



{END container_grid}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
