<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="FEC_VISITA">
	{$FEC_VISITA_editcontrol}
	</control>
	<control 
	field="USERNAME_VISITANTE">
	{$USERNAME_VISITANTE_editcontrol}
	</control>
	<control 
	field="USERNAME_VISITADA">
	{$USERNAME_VISITADA_editcontrol}
	</control>
	<control 
	field="FEC_CREACION">
	{$FEC_CREACION_editcontrol}
	</control>
	<control 
	field="USUARIO_CREACION">
	{$USUARIO_CREACION_editcontrol}
	</control>
	<control 
	field="FEC_ULTIMA_MOD">
	{$FEC_ULTIMA_MOD_editcontrol}
	</control>
	<control 
	field="USUARIO_ULTIMA_MOD">
	{$USUARIO_ULTIMA_MOD_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
